@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;

@import '../../styles/function.scss';


@media screen and (max-width: v.$max-mob-m) {
    .wrapper {
        @include m.visually-hidden;
    }

    .decor-wrapper{
        @include m.visually-hidden;
        }
}
// Desktop styles
@media screen and (min-width: v.$b-tablet-m) {

.wrapper{
    padding: calcOutValue(88) calcOutValue(86) calcOutValue(88) calcOutValue(120);
    width: calcOutValue(546);
    position: relative;
}

.top-wrapper{
    padding-bottom: calcOutValue(12);
    border-bottom: 1px solid v.$light-5-c;
}

.decor-wrapper{
    position: absolute;
    top: 0;
    left: calcOutValue(24);
    height: 100%;
    @include m.flexibility(column, flex-start,center);
}

.decor-wrapper-arrow-1{
    display: block;
    height: 40%;
    background-image: url(../../../assets/images/catalog/top-decor-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1px;
}

.decor-wrapper-arrow-2 {
    display: block;
    height: 40%;
    background-image: url(../../../assets/images/catalog/bottom-decor-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1px;
}

.text-decor-wrapper{
    position: relative;
    width: calcOutValue(80);
    height: calcOutValue(300);
    background-color: transparent;
    p{
        position: absolute;
        top: 40%;
        left: -40%;
        opacity: 24%;
        font-family: 'Italianno',sans-serif;
        @include m.text-character(calcOutValue(64), calcOutValue(74), v.$green-2-c);
        transform: rotate(-90deg);
    }
}

.title{
    @include m.text-character(calcOutValue(20),calcOutValue(36),v.$gray-4-c);
    text-transform: uppercase;
}

}