@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;

@import '../../styles/function.scss';

.wrapper{
    margin-bottom: 12px;
    position: relative;
}

.item{

    & img{
        object-fit: cover;
        width: 100%;
    }
}

.like-btn{
    position: absolute;
    top: 12px;
    right: 10px;
    z-index: 10;
    width: 24px;
    height: 24px;
    background-color: v.$dark-c;
    border-radius: 50%;
    svg{
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: v.$max-mob-m) {
    .extra-wrapper {
        @include m.visually-hidden;
    }

    .prev-btn{
        @include m.visually-hidden;
    }
    .next-btn{
        @include m.visually-hidden;
    }
}

// Desktop styles
@media screen and (min-width: v.$b-tablet-m) {

    .extra-wrapper{
        width: calcOutValue(140);
        @include m.flexibility(column, center,center);
        gap: calcOutValue(8);
    }

    .extra-item{
        border: 1px solid v.$light-4-c;
        padding: calcOutValue(12);
    }

    .wrapper{
        margin-bottom: 0;
        width: calcOutValue(652);
        @include m.flexibility(row, center, flex-start);
        gap: calcOutValue(10);
        position: absolute;
        top: 0;
        left: 0;
    }

    .swiper-wrapper{
        width: calcOutValue(502);
        position: relative;
    }

    .item{
        border: 1px solid v.$light-5-c;
       padding: calcOutValue(18) calcOutValue(14); 
    }
    .prev-btn{
        @include m.swiper-btn-reset-l(calcOutValue(16), calcOutValue(324), calcOutValue(70), calcOutValue(70));
        background-color: #12131440;
        &::after{
            content: '';
        }
        
    }
    .next-btn{
        @include m.swiper-btn-reset-r(calcOutValue(16), calcOutValue(324), calcOutValue(70), calcOutValue(70));
        background-color: #12131440;
    
        &::after {
            content: '';
        }
    }

    .like-btn{
        @include m.visually-hidden;
}
}