@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;

@import '../../styles/function.scss';

.wrapper{
    margin-bottom: 18px;
}

.title{
    @include m.text-character(24px,29px,v.$gray-3-c);
    text-transform: uppercase;
}

.reviews-wrapper{
    @include m.flexibility(row,space-between,center);
    p{
        @include m.text-character(12px, 29px, v.$gray-2-c);
    }
}

@media screen and (max-width: v.$max-mob-m) {
    .like-btn {
        @include m.visually-hidden;
    }
}


// Desktop styles
@media screen and (min-width: v.$b-tablet-m) {
    .wrapper {
        position: relative;
        margin-bottom: 0;
        padding-bottom: calcOutValue(34);
        border-bottom: 1px solid v.$light-5-c;
    }

    .title {
        @include m.text-character(calcOutValue(40), calcOutValue(40), v.$gray-3-c);
        margin-bottom: calcOutValue(28);
    }

    .reviews-wrapper {
       justify-content: flex-start;
       gap: calcOutValue(18);

        p {
            @include m.text-character(calcOutValue(22), calcOutValue(36), v.$gray-2-c);
        }
    }

    .like-btn{
        position: absolute;
        top: 0;
        right: 0;
        width: calcOutValue(48);
        height: calcOutValue(48);
        background-color: v.$light-8-c;
        border-radius: 50%;

        svg{
            width: 100%;
            height: 100%;
        }
        }

}