@use 'styles/mixins' as m;
@use 'styles/variables' as v;

.wrapper{
    padding: 66px 0 56px 0;
    position: relative;
    z-index: 2;

    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 7%;
        background-image: url(../../../assets/images/main/gallery/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: 50%;
    }
}

.title-wrapper {
    position: relative;
    padding-left: 20px;
    margin-bottom: 18px;
    display: flex;
    gap: 24px;
}

.title {
    @include m.text-character(20px, 36px, v.$gray-4-c);
    font-style: italic;
}

.line{
    border-bottom: 1px solid v.$light-5-c;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    margin-bottom: 10px;
}

.item {
    max-width: 280px;
    position: relative;
    height: 380px !important;
    height: 100%;

    & a {
        display: inline-block;
        height: 100%;
        width: 100%;

        & img {
            height: 100%;
            width: 100%;
        }
    }
}

.img-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    @include m.text-character(14px,27px, v.$light-1-c);
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 240px;
    text-transform: uppercase;
}

@media screen and (max-width: 990px) {
    .prev-btn{
        @include m.visually-hidden;
    }

    .next-btn {
        @include m.visually-hidden;
    }

}