@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;

@import '../../styles/function.scss';

.wrapper {
    padding: 50px 20px 50px 20px;
}

.content-wrapper{
    @include m.flexibility(column, center, center);
    margin: 0 auto;
    max-width: 336px;
    padding: 80px 22px 80px 22px;
    background-color: v.$green-1-c;
}

.content-text{
    @include m.text-character(14px,29px,v.$green-2-c);
    text-align: center;
}

.subtext {
    margin-top: 20px;
    margin-bottom: 8px;
    font-family: 'Italianno', sans-serif;
    font-weight: 400;
    @include m.text-character(36px, 42px, v.$light-1-c);
    opacity: 33%;
    display: flex;
    justify-content: flex-end;
    }


@media screen and (max-width: 990px) {
    .title-wrapper {
        @include m.visually-hidden;
    }

    .wrapper {
    background-image: url(../../../assets/images/main/field/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;    
}

    .img-wrapper{
        @include m.visually-hidden;
    }
}

@media screen and (min-width: v.$b-tablet-m) {
    .wrapper {
        padding: 0; 
        width: 100%; 
    }

    .content-wrapper{
        @include m.flexibility(row, flex-start, flex-start);
        align-items: initial;
        justify-content: initial;
        margin: 0 ;
        max-width: 100%;
        padding: 0;

    }

    .title-wrapper{
        position: relative;
        width: calcOutValue(280);

        & div{
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: calcOutValue(62);
                width: 8px;
                height: calcOutValue(156);
                background-image: url(../../../assets/images/main/field/bg-bot.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: 50% center;
            }
            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                left: calcOutValue(62);
                width: 8px;
                height: calcOutValue(156);
                background-image: url(../../../assets/images/main/field/bg-top.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: 50% center;
            }

            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-bottom: calcOutValue(30);
        }
        & p{
            font-family: "Italianno", sans-serif;
            @include m.text-character(calcOutValue(64), calcOutValue(74), v.$green-2-c);
            opacity: 24%;
            transform: rotate(-90deg);
        }
    }

    .text-wrapper{
        width: calcOutValue(550);
        background-color: v.$green-2-c;
        padding: calcOutValue(110) calcOutValue(10) calcOutValue(90) calcOutValue(34);
        overflow: hidden;
    }

    .content-text{
        @include m.text-character(calcOutValue(22),calcOutValue(32),v.$light-1-c);
        text-align: start;
    }

    .subtext {
        margin-top: calcOutValue(18);
        margin-bottom: calcOutValue(44);
        @include m.text-character(calcOutValue(48), calcOutValue(56), v.$light-1-c);
        opacity: 18%;
        }

    .img-wrapper{
        position: relative;
        height: 100%;
        width: calcOutValue(1090);
        padding-bottom: 32%;
    }

    .city{
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .map{
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 2;
        object-fit: cover;
        width: 100%;
    }
}