@use '../../mixins.scss' as m;
@use '../../variables.scss' as v;

@import '../../function.scss';

.wrapper{
    padding: 32px 20px 48px 20px;
}

.products-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
    row-gap: 18px;
}

.products-item{
    background-color: v.$light-2-c;
    padding: 12px 8px 20px 8px;
    flex-basis: calc((100% - 10px) / 2);
    border: 1px solid v.$light-4-c;
    position: relative;
}

.products-picture{
    width: 100%;
    margin-bottom: 12px;
}

.reviews-wrapper{
    @include m.flexibility(row, space-between,center);
    margin-bottom: 12px;
    & p{
        @include m.text-character(12px,29px, v.$gray-2-c);
    }
}

.wine-name{
    @include m.text-character(14px, 29px, v.$gray-3-c);
    text-transform: uppercase;
}

.wine-taste{
    @include m.text-character(12px, 29px, v.$light-6-c);
    text-transform: capitalize;
}

.price-wrapper{
    @include m.flexibility(column,space-between, normal);
    height: 48px;
    margin-bottom: 12px;
}

.last-price{
    @include m.text-character(12px, 18px, v.$gray-2-c);
    text-decoration: line-through;
    text-align: end;
}

.availibility{
    width: 68px;
    height: 30px;
    @include m.flexibility(row, center,center);

    & p{
        font-size: 12px;
        line-height: 29px;
    }
}

.is-available {
    background-color: #EBEEE6;
    & p{
        color: v.$green-2-c;
    }
}

.is-not-available{
    background-color: #EEE6E6;
    & p{
        color: v.$bordo-c;
    }
}

.price{
    @include m.text-character(14px, 29px, v.$gray-4-c);
}

.current-price-wrapper{
    @include m.flexibility(row,space-between,center);
    margin-top: auto;
}

.add-button{
    background-color: v.$green-1-c;
    padding: 6px 0;
    @include m.text-character(14px, 29px, v.$gray-4-c);
    text-transform: uppercase;
    width: 100%;
}

.like-button{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: v.$dark-c;
    position: absolute;
    top: 16px;
    right: 14px;

    .heart-icon {
        width: 100%;
        height: 100%;
        }
}

.new-sign{
    position: absolute;
    top: 14px;
    left: 10px;
    width: 52px;
    height: 34px;
    background-color: v.$orange-2-c;
    @include m.text-character(14px, 29px, v.$light-1-c);
    text-transform: uppercase;
    @include m.flexibility(row, center, center);
}

.sale-sign {
    position: absolute;
    top: 56px;
    left: 10px;
    width: 52px;
    height: 34px;
    background-color: #698024;
    @include m.text-character(14px, 29px, v.$light-1-c);
    text-transform: uppercase;
    @include m.flexibility(row, center, center);
}

@media screen and (max-width: v.$max-mob-m) {
    .extra-information{
        @include m.visually-hidden;
    }
}

// Desktop styles
@media screen and (min-width: v.$b-tablet-m) {

.wrapper{
    padding: 0;
    width: calcOutValue(1256);
}

.products-list{
    column-gap: calcOutValue(20);
    row-gap: calcOutValue(26);
}

.products-item{
    padding: calcOutValue(20) calcOutValue(26) calcOutValue(40) calcOutValue(26);
    flex-basis: auto;
    width: calcOutValue(405);

    &:hover{
        .extra-information{
            opacity: 1;
        }
    }
}

.extra-information{
    position: absolute;
    left: -1px;
    bottom: calcOutValue(-140);
    z-index: 2;
    background-color: v.$light-2-c ;
    width: 101%;
    padding: 0 calcOutValue(30) calcOutValue(30) calcOutValue(30);
    border: 1px solid v.$light-4-c;
    border-top: none;
    opacity: 0;

    transition: opacity 0.3s ease-out;

    & p{
        @include m.text-character(calcOutValue(20),calcOutValue(32), v.$gray-4-c)
    }

    & span{
        color: v.$gray-3-c;
    }

    & p:not(:last-of-type){
        margin-bottom: calcOutValue(10);
    }
}

.products-picture{
    margin-bottom: calcOutValue(24);
}

.reviews-wrapper{
    margin-bottom: calcOutValue(24);
    & p{
        @include m.text-character(calcOutValue(20),calcOutValue(32), v.$gray-2-c);
    }
}

.wine-name{
    @include m.text-character(calcOutValue(24), calcOutValue(40), v.$gray-4-c);
}

.wine-taste{
    @include m.text-character(calcOutValue(20), calcOutValue(32), v.$gray-3-c);
}

.price-wrapper{
    height: calcOutValue(96);
    margin-bottom: calcOutValue(16);
}

.last-price{
    @include m.text-character(calcOutValue(18), calcOutValue(40), v.$gray-2-c);
}

.availibility{
    width: calcOutValue(120);
    height: calcOutValue(42);

    & p{
        font-size: calcOutValue(20);
        line-height: calcOutValue(32);
    }
}

.price{
    @include m.text-character(calcOutValue(24), calcOutValue(40), v.$gray-4-c);
}


.add-button{
    padding: calcOutValue(14) 0;
    @include m.text-character(calcOutValue(20), calcOutValue(32), v.$gray-4-c);
}

.like-button{
    width: calcOutValue(48);
    height: calcOutValue(48);
    top: calcOutValue(32);
    right: calcOutValue(34);
}

.new-sign{
    top: calcOutValue(32);
    left: calcOutValue(30);
    width: calcOutValue(72);
    height: calcOutValue(40);
    @include m.text-character(calcOutValue(14), calcOutValue(29), v.$light-1-c);
}

.sale-sign {
    top: calcOutValue(78);
    left: calcOutValue(30);
    width: calcOutValue(72);
    height: calcOutValue(40);
    @include m.text-character(calcOutValue(14), calcOutValue(29), v.$light-1-c);
}

}