@use '../../mixins.scss' as m;
@use '../../variables.scss' as v;

@import '../../function.scss';

.wrapper{
    background-color: v.$light-3-c;
}


// Desktop styles
@media screen and (min-width: v.$b-tablet-m) {
    .wrapper{
        display: flex;
    }

    .products-wrapper{
        padding: calcOutValue(36) calcOutValue(120) calcOutValue(122) 0;
    }

    .sort-wrapper{
        position: relative;
        padding: calcOutValue(0) calcOutValue(0) calcOutValue(36) 0;
        @include m.flexibility(row,space-between, center);
    }

}