@use 'styles/mixins' as m;
@use 'styles/variables' as v;

@import '../../../styles/function.scss';

.wrapper {
    @include m.backdrop(#00000080);
    justify-content: flex-end;
    backdrop-filter: blur(3px);
}

.modal {
    width: 270px;
    height: 100vh;
    background-color: v.$light-2-c;
}

.top-wrapper {
    padding: 34px 18px 6px 18px;
    @include m.flexibility(row, space-between, center);
    border-bottom: 1px solid v.$light-5-c;

    h4 {
        @include m.text-character(16px, 29px, v.$gray-3-c);
        text-transform: uppercase;
    }

    button {
        background-color: transparent;
        width: 24px;
        height: 24px;
    }
}

// .button-list{
//     padding: 30px 18px 30px 18px;
//     display: flex;
//     flex-direction: column;
//     gap: 32px;
// }

// .button-item{
//     min-height: 42px;

//     &:not(:last-child){
//         border-bottom: 1px solid v.$light-3-c;
//     }
// }

// .button-filter{
//     @include m.flexibility(row, space-between,center);
//     width: 100%;
//     background-color: transparent;
//     & p{
//         @include m.text-character(12px, 29px, v.$gray-3-c);
//         text-transform: uppercase;

//         & span{
//             color: v.$gray-2-c;
//         }
//     }
    
// }