@use '../../mixins.scss' as m;
@use '../../variables.scss' as v;

@import '../../function.scss';

.button{
    position: absolute;
    left: 20px;
    bottom: 18px;
    width: 334px;
    height: 50px;
    @include m.flexibility(row,center,center);
    background-color: v.$light-5-c;
    @include m.flexibility(row,center,center);
    @include m.text-character(16px,29px, v.$gray-1-c);
    text-transform: uppercase;
}

.button.is-checked {
    background-color: v.$green-1-c;
    color: v.$gray-4-c;
}

@media screen and (min-width: v.$b-tablet-m) {
    .button {
        position: absolute;
        left: auto;
        right: calcOutValue(40);
        bottom: calcOutValue(22);
        width: calcOutValue(240);
        height: calcOutValue(60);
        @include m.text-character(calcOutValue(16), calcOutValue(36), v.$gray-4-c);
    }
}