@use '../../mixins.scss' as m;
@use '../../variables.scss' as v;

@import '../../function.scss';

.wine-wrapper{
    margin-bottom: 48px;
}

.wine-title{
    @include m.text-character(16px,29px, v.$gray-4-c);
    text-transform: uppercase;
    margin-bottom: 12px;
}

.wine-text{
    @include m.text-character(14px, 29px, v.$gray-3-c);
}

.taste-wrapper{
    margin-bottom: 48px;
}

.taste-name{
    @include m.text-character(16px, 29px, v.$gray-4-c);
    text-transform: uppercase;
    margin-bottom: 24px;
}

.taste-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.taste-item{
    @include m.flexibility(row,space-between, center);
    gap: 28px;

    p{
        width: 60px;
        @include m.text-character(14px, 29px, v.$gray-3-c);
        text-transform: uppercase;
    }
}

.taste-line{
    height: 4px;
    width: 46%;
    display: block;
    border-radius: 4px;
    background-color: v.$light-5-c;
    position: relative;
}

.taste-item{
    &:first-of-type{
        .taste-line::after{
            position: absolute;
            right: 0;
            top: -1px;
            content: '';
            display: block;
            height: 6px;
            width: 80%;
            border-radius: 6px;
            background: linear-gradient(270deg, #813408 0%, #1B0B02 100%);
        }
    }
    &:nth-of-type(2){
        .taste-line::after{
            position: absolute;
            left: 0;
            top: -1px;
            content: '';
            display: block;
            height: 6px;
            width: 64%;
            border-radius: 6px;
            background: linear-gradient(270deg, #813408 0%, #1B0B02 100%);
        }
    }
     &:nth-of-type(3){
        .taste-line::after{
            position: absolute;
            left: 0;
            top: -1px;
            content: '';
            display: block;
            height: 6px;
            width: 30%;
            border-radius: 6px;
            background: linear-gradient(270deg, #813408 0%, #1B0B02 100%);
        }
    }
}

.recomm-title{
    @include m.text-character(16px,29px,v.$gray-4-c);
    text-transform: uppercase;
    margin-bottom: 18px;
}

.recomm-list{
    @include m.flexibility(row,flex-start,center);
    flex-wrap: wrap;
    gap: 10px;
}

.recomm-item{
    width: 164px;
    height: 148px;
    border: 1px solid v.$light-4-c;
    @include m.flexibility(column, center, center);
}

.food-wrapper{
    width: 100px;
    height: 100px;
    background-color: v.$light-5-c;
    border-radius: 50%;
    padding: 8px;
    margin-bottom: 10px;
}

.food-title{
    @include m.text-character(14px,29px, v.$gray-3-c);
    text-transform: uppercase;
}

// Desktop styles
@media screen and (min-width: v.$b-tablet-m) {

    .wine-wrapper {
        margin-bottom: calcOutValue(72);
        width: calcOutValue(670);
    }

    .extra-wrapper{
        @include m.flexibility(row,space-between,flex-start);
    }

    .wine-title {
        @include m.text-character(calcOutValue(24), calcOutValue(36), v.$gray-4-c);
        margin-bottom: calcOutValue(16);
        text-transform: capitalize;
    }

    .wine-text {
        @include m.text-character(calcOutValue(22), calcOutValue(36), v.$gray-2-c);
    }

    .taste-wrapper {
        margin-bottom: 0;
        width: calcOutValue(574);
    }

    .taste-name {
        @include m.text-character(calcOutValue(24), calcOutValue(36), v.$gray-4-c);
        text-transform: capitalize;
        margin-bottom: calcOutValue(26);
    }

    .taste-list {
        gap: calcOutValue(26);
    }

    .taste-item {
        gap: calcOutValue(34);

        p {
            width: calcOutValue(100);
            @include m.text-character(calcOutValue(20), calcOutValue(36), v.$gray-2-c);
        }
    }

    .taste-line {
        height: calcOutValue(4);
        border-radius: calcOutValue(4);
    }

    .taste-item {
        &:first-of-type {
            .taste-line::after {
                height: calcOutValue(6);
                border-radius: calcOutValue(6);
            }
        }

        &:nth-of-type(2) {
            .taste-line::after {
                height: calcOutValue(6);
                    border-radius: calcOutValue(6);
            }
        }

        &:nth-of-type(3) {
            .taste-line::after {
                height: calcOutValue(6);
                border-radius: calcOutValue(6);
            }
        }
    }

    .recomm-title {
        @include m.text-character(calcOutValue(24), calcOutValue(36), v.$gray-4-c);
        text-transform: capitalize;
        margin-bottom: calcOutValue(16);
    }

    .recomm-list {
        justify-content: flex-start;
        gap: calcOutValue(20);
    }

    .recomm-item {
        width: calcOutValue(210);
        height: calcOutValue(194);
        border: none;

    }

    .food-wrapper {
        width: calcOutValue(140);
        height: calcOutValue(140);
        background-color: v.$light-5-c;
        padding: calcOutValue(10);
        margin-bottom: calcOutValue(14);
    }

    .food-title {
        @include m.text-character(calcOutValue(20), calcOutValue(36), v.$gray-2-c);
        text-transform: uppercase;
    }

}