@use 'styles/mixins' as m;
@use 'styles/variables' as v;

.wrapper{
    position: relative;
}

.picture{
    width: 100%;
}


@media screen and (max-width: 990px) {
    .prev-btn {
        @include m.visually-hidden;
        display: none;
    }

    .next-btn {
        @include m.visually-hidden;
    }
}