@use 'styles/mixins' as m;
@use 'styles/variables' as v;

@import '../../../styles/function.scss';

.wrapper{
    position: relative;
    max-height: 400px;
}

.picture{
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.pagination {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    bottom: 30px !important;
}

@media screen and (max-width: 990px) {
    .prev-btn {
        @include m.visually-hidden;
        display: none;
    }

    .next-btn {
        @include m.visually-hidden;
    }
}

@media screen and (min-width: v.$b-tablet-m){

    .wrapper{
        max-height: calcOutValue(400);
    }

    .prev-btn{
        width: calcOutValue(80);
        height: calcOutValue(80);
        @include m.border(1px, solid, v.$gray-3-c);
        border-radius: 50%;
        background-color: transparent;
        &::after{
            content: '';
        }
    }

    .next-btn{
        width: calcOutValue(80);
        height: calcOutValue(80);
        @include m.border(1px, solid, v.$gray-3-c);
        border-radius: 50%;
        background-color: transparent;
        &::after{
            content: '';
        }
    }
    
    .pagination{
        bottom: calcOutValue(22);
    }
}