@use '../../mixins.scss' as m;
@use '../../variables.scss' as v;

@import '../../function.scss';

.sort-btn {
    width: 162px;
    height: 46px;
    background-color: transparent;
    border: 1px solid v.$light-5-c;
    @include m.text-character(14px, 29px, v.$gray-4-c);
    text-transform: uppercase;
    @include m.flexibility(row, center, center);
    margin: 0 auto;
    &::after {
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        background-image: url(../../../images/catalog/arrow-bot.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (min-width: v.$b-tablet-m) {
    .wrapper {
        @include m.visually-hidden;
    }
}