@use '../../mixins.scss' as m;
@use '../../variables.scss' as v;

@import '../../function.scss';

.wrapper{
    @include m.flexibility(row,flex-start,flex-start);
    gap: 4px;
    padding: 0 20px;
    margin-bottom: 18px;
}

.title{
    @include m.text-character(14px,29px, v.$gray-4-c);
    text-transform: uppercase;
}

.quality-wrapper{
    width: 16px;
    height: 16px;
    background-color: v.$orange-1-c;
    border-radius: 50%;
    @include m.text-character(8px,10px,v.$light-1-c);
    font-family: 'Montserrat',sans-serif;
    @include m.flexibility(row,center,center);
}

//Desktop 

@media screen and (min-width: v.$b-tablet-m) {
    .wrapper {
        gap: calcOutValue(4);
        padding: 0 ;
        margin-bottom: 0;
        width: auto !important;
    }

    .title {
        @include m.text-character(calcOutValue(24), calcOutValue(40), v.$gray-4-c);
    }

    .quality-wrapper {
        width: calcOutValue(24);
        height: calcOutValue(24);
        @include m.text-character(calcOutValue(12), calcOutValue(14), v.$light-1-c);
    }
}