@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;

@import '../../styles/function.scss';

.wrapper {
    background-color: v.$light-3-c;
    width: 100%;
    position: relative;
}

.title-wrapper {
    padding: 32px 20px 24px 20px;
}

.title {
    @include m.text-character(24px, 29px, v.$gray-4-c);
    text-transform: uppercase;
}

.subtitle {
    @include m.text-character(14px, 29px, v.$gray-2-c);
}

.item:nth-child(3n+1) {
    .images-wrapper-grid {
        @include m.grid-element(2px);
        height: 364px;

        & .img-wrapper-grid-1 {
            @include m.grid-children(1, 24, 1, 20);

            &::before {
                @include m.grid-before();
            }
        }

        & .img-wrapper-grid-2 {
            @include m.grid-children(24, 48, 1, 20);

            &::before {
                @include m.grid-before();
            }
        }

        & .img-wrapper-grid-3 {
            @include m.grid-children(1, 29, 20, 48);

            &::before {
                @include m.grid-before();
            }
        }

        & .img-wrapper-grid-4 {
            @include m.grid-children(29, 48, 20, 48);

            &::before {
                @include m.grid-before();
            }
        }
    }

}

.item:nth-child(3n+2) {
    .images-wrapper-grid {
        @include m.grid-element(2px);
        height: 364px;

        & .img-wrapper-grid-1 {
            @include m.grid-children(1, 24, 1, 29);

            &::before {
                @include m.grid-before();
            }
        }

        & .img-wrapper-grid-2 {
            @include m.grid-children(24, 48, 1, 19);

            &::before {
                @include m.grid-before();
            }
        }

        & .img-wrapper-grid-3 {
            @include m.grid-children(1, 24, 29, 48);

            &::before {
                @include m.grid-before();
            }
        }

        & .img-wrapper-grid-4 {
            @include m.grid-children(24, 48, 19, 48);

            &::before {
                @include m.grid-before();
            }
        }
    }

}

.item:nth-child(3n) {
    .images-wrapper-grid {
        @include m.grid-element(2px);
        height: 364px;

        & .img-wrapper-grid-1 {
            @include m.grid-children(1, 17, 1, 26);

            &::before {
                @include m.grid-before();
            }
        }

        & .img-wrapper-grid-2 {
            @include m.grid-children(17, 48, 1, 26);

            &::before {
                @include m.grid-before();
            }
        }

        & .img-wrapper-grid-3 {
            @include m.grid-children(1, 24, 26, 48);

            &::before {
                @include m.grid-before();
            }
        }

        & .img-wrapper-grid-4 {
            @include m.grid-children(24, 48, 26, 48);

            &::before {
                @include m.grid-before();
            }
        }
    }

}

.picture{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (max-width: 990px) {
    .prev-btn {
        @include m.visually-hidden;
    }

    .next-btn {
        @include m.visually-hidden;
    }

    .pagination-bullet {
        @include m.visually-hidden;
    }
}

// Desktop styles
@media screen and (min-width: v.$b-tablet-m) {

.wrapper {
    padding-bottom: calcOutValue(90);
}

.title-wrapper {
    padding: calcOutValue(48) calcOutValue(280) calcOutValue(36) calcOutValue(280);
}

.title {
    @include m.text-character(calcOutValue(40), calcOutValue(40), v.$gray-4-c);
    margin-bottom: calcOutValue(16);
}

.subtitle {
    @include m.text-character(calcOutValue(20), calcOutValue(32), v.$gray-2-c);
}

.item:nth-child(3n+1){
    .images-wrapper-grid{
        @include m.grid-element(calcOutValue(6));
        height: calcOutValue(618);
        width: 100%;

        & .img-wrapper-grid-1 {
            @include m.grid-children(1, 24, 1, 20);
            &::before{
                @include m.grid-before();
            }
        }

        & .img-wrapper-grid-2 {
            @include m.grid-children(24, 48, 1, 20);
            &::before{
                @include m.grid-before();
            }
        }

        & .img-wrapper-grid-3 {
            @include m.grid-children(1, 29, 20, 48);
            &::before{
                @include m.grid-before();
            }
        }

        & .img-wrapper-grid-4 {
            @include m.grid-children(29, 48, 20, 48);
            &::before{
                @include m.grid-before();
            }
        }
    }
    
}

.item:nth-child(3n+2) {
    .images-wrapper-grid{
        @include m.grid-element(calcOutValue(6));
        height: calcOutValue(618);

        & .img-wrapper-grid-1 {
            @include m.grid-children(1, 24, 1, 29);
            &::before{
                @include m.grid-before();
            }
        }

        & .img-wrapper-grid-2 {
            @include m.grid-children(24, 48, 1, 19);
            &::before{
                @include m.grid-before();
            }
        }

        & .img-wrapper-grid-3 {
            @include m.grid-children(1, 24, 29, 48);
            &::before{
                @include m.grid-before();
            }
        }

        & .img-wrapper-grid-4 {
            @include m.grid-children(24, 48, 19, 48);
            &::before{
                @include m.grid-before();
            }
        }
    }   
}
.item:nth-child(3n) {
    .images-wrapper-grid{
        @include m.grid-element(calcOutValue(6));
        height: calcOutValue(618);

        & .img-wrapper-grid-1 {
            @include m.grid-children(1, 17, 1, 26);
            &::before{
                @include m.grid-before();
            }
        }

        & .img-wrapper-grid-2 {
            @include m.grid-children(17, 48, 1, 26);
            &::before {
                @include m.grid-before();
                }
        }

        & .img-wrapper-grid-3 {
            @include m.grid-children(1, 24, 26, 48);
            &::before {
                @include m.grid-before();
                }
        }

        & .img-wrapper-grid-4 {
            @include m.grid-children(24, 48, 26, 48);
            &::before {
                @include m.grid-before();
                }
        }
    }
}

.prev-btn{
    @include m.swiper-btn-reset-l(calcOutValue(780),calcOutValue(0), calcOutValue(54), calcOutValue(54));
    & img {
            width: 100%;
            height: 100%;
        }
    &::after{
        content: '';
    }
}

.next-btn {
    @include m.swiper-btn-reset-r(calcOutValue(780), calcOutValue(0), calcOutValue(54), calcOutValue(54));

    & img {
        width: 100%;
        height: 100%;
    }

    &::after {
        content: '';
    }
}

 .pagination-bullet {
    position: absolute;
    bottom: calcOutValue(22) !important;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: calcOutValue(58);}

}