@use 'styles/mixins' as m;
@use 'styles/variables' as v;

@import '../../../styles/function.scss';

.wrapper{
    @include m.backdrop(#00000080);
    align-items: flex-end;
    backdrop-filter: blur(3px);
}

.modal{
    width: 100%;
    background-color: v.$light-2-c;
}

.top-wrapper{
    padding: 14px 20px 8px 20px;
    @include m.flexibility(row, space-between,center);
    border-bottom: 1px solid v.$light-5-c;
    h4{
        @include m.text-character(16px, 29px,v.$gray-3-c);
        text-transform: uppercase;
    }

    button{
        background-color: transparent;
        width: 24px;
        height: 24px;
    }
}

.button-list{
    padding: 10px 20px 14px 20px;
    @include m.flexibility(column, flex-start,flex-start);
    gap: 6px;
}

.button-item{
    width: 100%;
    height: 32px;

    & button{
        width: 100%;
        height: 100%;
        @include m.flexibility(row, flex-start, center);
        @include m.text-character(16px,29px,v.$gray-3-c);
        background-color: transparent;
    }
}