@use 'styles/mixins' as m;
@use 'styles/variables' as v;

@import '../../styles/function.scss';

.rating {
    @include m.flexibility(row, flex-start, center);
    gap: 4px;

    .star {
        width: 12px;
        height: 12px;
    }

}

// Desktop styles
@media screen and (min-width: v.$tablet-m){
.rating {
    gap: calcOutValue(8);
}

.star {
    width: calcOutValue(22);
    height: calcOutValue(22);
}

}

