@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;

@import '../../styles/function.scss';

.modal{
    padding: 28px 20px 44px 20px;
    background-color: v.$light-3-c;
    position: fixed;
    z-index: 99;
    bottom: 10px;
    left: 10px;
    width: calc(100% - 20px);
}

.close-btn{
    position: absolute;
    top: 6px;
    right: 6px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    @include m.flexibility(row, center, center);
}

.title{
    @include m.text-character(14px,29px,v.$gray-4-c);
    font-weight: 600;
    margin-bottom: 4px;
}

.text{
    @include m.text-character(14px, 29px, v.$gray-3-c);
    margin-bottom: 22px;
}

.btn-wrapper{
    @include m.flexibility(row, space-between,center);

    .reject-btn{
        padding: 6px 0;
        width: 162px;
        height: 42px;
        @include m.flexibility(row, center, center);
        @include m.text-character(14px, 29px, v.$green-2-c);
        text-transform: uppercase;
        border: 1px solid v.$green-1-c;
        background-color: transparent;
    }
    .accept-btn{
        padding: 6px 0;
        width: 162px;
        height: 42px;
        @include m.flexibility(row, center, center);
        @include m.text-character(14px, 29px, v.$gray-4-c);
        text-transform: uppercase;
        background-color: v.$green-1-c;
    }
}

// Desktop styles
@media screen and (min-width: v.$b-tablet-m) {

.modal{
    padding: calcOutValue(50) calcOutValue(80) calcOutValue(42) calcOutValue(80);
    bottom: calcOutValue(10);
    right: calcOutValue(10);
    width: calcOutValue(1150);
}

.close-btn{
    top: calcOutValue(16);
    right: calcOutValue(16);
    width: calcOutValue(48);
    height: calcOutValue(48);
}

.title{
    @include m.text-character(calcOutValue(24),calcOutValue(36),v.$gray-4-c);
    margin-bottom: calcOutValue(4);
}

.text{
    @include m.text-character(calcOutValue(22), calcOutValue(36), v.$gray-3-c);
    margin-bottom: calcOutValue(18);
}

.btn-wrapper{
   justify-content: flex-start;
   column-gap: calcOutValue(20);

    .reject-btn{
        padding: calcOutValue(12) 0;
        width: calcOutValue(240);
        height: calcOutValue(60);
        @include m.text-character(calcOutValue(16), calcOutValue(36), v.$gray-4-c);
    }
    .accept-btn{
        padding: calcOutValue(12) 0;
        width: calcOutValue(240);
        height: calcOutValue(60);
        @include m.text-character(calcOutValue(16), calcOutValue(36), v.$gray-4-c);
    }
}
}