@use '../../styles/mixins' as m;
@use '../../styles/variables' as v;

@import '../../styles/function.scss';

.wrapper {
position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
    }
    padding: 152px 20px 28px 20px;
    background-color: v.$dark-c;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% center;
    backdrop-filter: blur(4px);
}

.content-wrapper {
    width: 336px;
    @include m.flexibility(column, center, center);
    row-gap: 10px;
    margin: 0 auto;
}

.title-wrapper {
    width: 100%;
    position: relative;

    &::before {
        content: '';
        display: block;
        width: 40px;
        height: 1px;
        background-color: v.$light-1-c;
        opacity: 50%;
        position: absolute;
        top: 50%;
        left: 0;

    }

    &::after {
        content: '';
        display: block;
        width: 40px;
        height: 1px;
        background-color: v.$light-1-c;
        opacity: 50%;
        position: absolute;
        top: 50%;
        right: 0;
    }
}

.title {
    @include m.text-character(26px, 29px, v.$light-1-c);
    font-style: italic;
    text-align: center;

    & span {
        font-size: 16px;
    }
}

.text {
    @include m.text-character(12px, 20px, v.$light-3-c);
    text-align: center;
}

@media screen and (min-width: v.$b-tablet-m) {
    .wrapper {
        padding: calcOutValue(205) calcOutValue(10) calcOutValue(72) calcOutValue(10);
    }

    .content-wrapper {
        width: calcOutValue(920);
        row-gap: calcOutValue(38);
    }

    .title-wrapper {

        &::before {
            width: calcOutValue(160);
        }

        &::after {
            width: calcOutValue(160);
        }
    }

    .title {
        @include m.text-character(calcOutValue(64), calcOutValue(29), v.$light-1-c);

        & span {
            font-size: calcOutValue(36);
        }
    }

    .text {
        @include m.text-character(calcOutValue(18), calcOutValue(33), v.$light-1-c);
        max-width: calcOutValue(766);
    }
}