// Colors
$light-1-c:#FFFFFF;
$light-2-c: #F5F5F5;
$light-3-c: #EAEAEA;
$light-4-c: #E1E1E1;
$light-5-c: #D7D7D7;
$light-6-c: #C2C2C2;
$light-7-c: #EBEEE6;
$light-8-c: #DCE2D2;
$light-9-c: #EEE6E6;
$gray-1-c: #A5A6AB;
$gray-2-c: #797B82;
$gray-3-c: #5C5C61;
$gray-4-c: #313335;
$dark-c: #121314;
$green-1-c: #B6C793;
$green-2-c: #3D5517;
$beige-c: #DDB89A;
$orange-1-c: #BF7A43;
$orange-2-c: #813408;
$bordo-c: #551717;
// Colors

// Breakpoints
$small-m: 375px;
$tablet-m: 769px;
$max-mob-m:990px;
$b-tablet-m: 991px;
$desk-1-m: 1199px;
$desk-2-m: 1399px;
$desk-3-m: 1549px;
$desk-4-m: 1779px;
$desk-5-m: 1920px;
// Breakpoints