@use '../../mixins.scss' as m;
@use '../../variables.scss' as v;

@import '../../function.scss';

.wrapper{
    padding: 264px 38px 68px 38px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.49)), url(../../../images/about/toBlog/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% center;
    @include m.flexibility(column, center,center);
    row-gap: 18px;
}

.text{
    font-weight: 600;
    font-style: italic;
    text-align: center;
    @include m.text-character(16px,22px, v.$light-1-c);
    max-width: 300px;
}

.button{
    display: block;
    @include m.flexibility(row,center,center);
    width: 134px;
    height: 42px;
    background-color: v.$green-1-c;
    transition: background-color 0.3s ease-in;
}

.button-text{
    text-transform: uppercase;
    @include m.text-character(14px, 29px, v.$gray-4-c);
    transition: color 0.3s ease-in;
}

.button:hover,
.button:focus {
    background-color: v.$green-2-c;

    .button-text {
        color: v.$light-8-c;
    }
}

@media screen and (min-width: v.$b-tablet-m) {

.wrapper{
    padding: calcOutValue(364) calcOutValue(512) calcOutValue(120) calcOutValue(512);
    row-gap: calcOutValue(36);
}

.text{
    @include m.text-character(calcOutValue(32),calcOutValue(40), v.$light-1-c);
    max-width: 100%;
}

.button{
    width: calcOutValue(346);
    height: calcOutValue(60);
}

.button-text{
    @include m.text-character(calcOutValue(20), calcOutValue(32), v.$gray-4-c);
}}